.left-navbar {
    overflow-x: hidden;
    width: 0;
    padding: 10px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
}

.open {
    z-index: 1;
    width: 80vw;
    animation: openNav 0.1s ease-in-out;
}

@keyframes openNav {
    0% {
        width: 0;
    }
    50% {
        width: 24vh;
    }
    100% {
        width: 80vw;
    }
}

.nav-item {
    width: 100%;
    list-style: none;
    margin: 5px 0;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #e9ecef;
}

.nav-link img {
    margin-right: 10px;
}

.dropdown-icon {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.nav-item .dropdown-icon {
    transform: rotate(0deg);
}

.nav-item.open .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.nav-item.open .dropdown {
    max-height: 500px; 
}

.dropdown li {
    list-style: none;
    margin: 5px 0;
}

.dropdown li a {
    text-decoration: none;
    color: #000;
}

.childnav {
    margin: 0px;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    color: rgb(0, 23, 24);
}

.childli {
    padding-top: 20px;
    padding-left: 20px;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 23, 24);
}

.topoff {
    display: flex;
    align-items: center;
}

.topoff img {
    width: 34px;
}

.topoff span {
    margin: 0px;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    color: rgb(126, 89, 231);
}

.topd {
    width: 24px;
}

.leftnavC {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    display: none;
}

.leftnavC.open {
    display: block;
    animation: openNav 0.1s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 10px; /* Adjust as necessary */
    right: 10px; /* Adjust as necessary */
    cursor: pointer;
}

.close-btn img {
    width: 24px;
}
